@font-face {
	font-family: 'Gothica-bold'; 
	src: url('fonts/Gothica-Bold.ttf') format(TrueType);
}

*{
	padding: 0;
	margin: 0;
}

.flex-body {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	margin: 0;
}

.main-header {
	background: #000000;
	display: flex;
	gap: 3px;
	align-items: center;
	padding: 10px;
}

.logo-header {
	width: 70px;
}

.titulo-encabezado {
	font-family: 'Gothica-bold'; 
	font-size: 3rem;
	color: #ffffff;
	text-decoration: none;
}

.main-content {
	background: url('images/imageStart/main-background.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
	flex: 1;
	padding: 10px;
	flex-direction: column;
	align-items: center;
}

.contenedor-imagen-botones {
	width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

#texto-boton {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: center;
	width: 100%;
}

#main-image {
	display: flex;
	justify-content: center;
	align-items: center;
} 

.start-game-image {
	width: 50%;
	border-radius: 5px;
	border: solid 1px darkgrey;
}

p {
	font-size: 3rem;
	font-family: 'Gothica-bold';
	color: #ffffff;
	text-shadow: 	
    -2px -2px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;	
     text-align: center;
}

.button {
	background: linear-gradient(to right, #000000, darkgrey, grey, #ffffff);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	width: 50%;
	height: 80px;
	font-family: 'Gothica-bold';
	border-radius: 5px;
	border: solid 1px darkgrey;
	text-shadow: 	
    -2px -2px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
    color:  #ffffff;
    cursor: pointer;	
}

#button-instrucciones {
	padding: 20px auto;
}

.ventana-modal {
	backdrop-filter: blur(10px);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.contenido-modal {
	background: #000000;
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 60%;
	gap: 10px;
	padding: 10px;
	cursor: auto;
	border-radius: 5px;
	border: solid 1px darkgrey;
}

.lista-instrucciones {
	background: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
	border: solid 1px darkgrey;
	width: 100%;
	height: 100%;
	gap: 10px;
}

.image-modal {
	width: 35%;
	border-radius: 5px;
	border: solid 1px darkgrey;
}

.contenido-modal-partida {
	display: flex;
	flex-direction: column-reverse;
	width: 50%;
	height: 40%;
	padding: 10px;
	border: solid 1px darkgrey;
	border-radius: 5px;	
	justify-content: left;
	gap: 10px;
	cursor: auto;
}

#partida-ganada {
	background: url('images/imagesGame/partidaGanada.jpg');
	background-size: cover;
	background-position-y: 30%;
}

#partida-perdida {
	background: url('images/imagesGame/partidaPerdida.jpg');
	background-size: cover;
	background-position-y: 10%;	
}

.mostrar-palabra {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

h3 {
	font-family: 'Gothica-bold';
	color: #ffffff;
	text-decoration: underline;
	text-shadow: 	
    -2px -2px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;		
}

.mostrar-score {
	width: 50%;
	height: 30px;
	border-radius: 5px;
	border: solid 1px #000000;
	font-family: 'Gothica-bold';
	color: #000000;	
	padding-left: 3px;
}

.puntaje-botones {
	background: rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	border: solid 1px darkgrey;
	display: flex;
	gap: 5px;
	flex-direction: column;
	padding: 5px;
	width: 30%;
}

.display-puntaje-obtenido {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.seccion-botones {
	display: flex;
	gap: 5px;
}

.puntaje {
	font-family: 'Gothica-bold';
	color: #ffffff;
	text-decoration: underline;
	text-shadow: 	
    -2px -2px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;	
}

.boton-modal {
	background: #000000;
	color: #ffffff;
	border-radius: 5px;
	border: solid 1px darkgrey;
	padding: 5px;
	font-family: 'Gothica-bold';
	cursor: pointer;
}

h1 {
	font-family: 'Gothica-bold';
	color: #ffffff;
	text-decoration: underline;
	text-shadow: 	
    -2px -2px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
    font-size: 3rem;	
}

h2 {
	font-family: 'Gothica-bold';
	color: #ffffff;
	text-shadow: 	
    -2px -2px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
    font-size: 2rem;
}

ol {
	width: 90%;
	list-style: none;
}

li {
	font-family: 'Gothica-bold';
	color: #ffffff;
	text-shadow: 	
    -2px -2px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
    text-align: center;
    list-style: none;
    font-size: 2rem;
}

#boton-cerrar-modal {
	width: 30%;
	height: 5%;
	font-size: 1rem;
	cursor: pointer;
}

.footer {
	background: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	font-size: 1em;
	padding: 5px;
	font-family: 'Gothica-bold';
}

/*CONTENIDO DEL JUEGO*/

.seccion-juego {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.score-vidas {
	width: 60%;
	display: flex;
	gap: 10px;
	padding: 5px;
}

.contenido-estadistico {
	width: 100%;
	border-radius: 5px;
	border: solid 1px darkgrey;	
	padding: 3px;
}

.intentos {
	font-family: 'Gothica-bold';
	color: #ffffff;
}

#display-score {
	background: #000000;
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 5px;	
}

.score-number {
	background: darkolivegreen;
	border-radius: 5px;
	border: solid 1px darkgrey;
	padding: 3px;
	font-family: 'Gothica-bold';
	color: #ffffff;
	width: 100%;
}

.display-muñeco {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contenedor-muñeco {
	background: #000000;
	width: 20%;
	height: 100%;
	min-width: 160px;
	min-height: 230px;
	border: solid 1px darkgrey;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
}

#seccion-1 {
	display: flex;
	justify-content: center;
}

.cabeza {
	width: 45px;
}

.brazo {
	height: 110px;
}

#cabeza-muñeco {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

#seccion-2 {
	display: flex;
	justify-content: center;
}

.pierna {
	height: 90px;
}


#brazo-izquierdo {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

#torso {
	height: 110px;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}


#brazo-derecho {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}


#cabeza-muñeco.mostrar {
	opacity: 1;
}

#brazo-izquierdo.mostrar {
	opacity: 1;
}

#torso.mostrar {
	opacity: 1;
}

#brazo-derecho.mostrar {
	opacity: 1;
}

#seccion-3 {
	display: flex;
	justify-content: center;
	gap: 5px;
}

#pierna-izquierda {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

#pierna-derecha {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

#pierna-izquierda.mostrar {
	opacity: 1;
}

#pierna-derecha.mostrar {
	opacity: 1;
}

.contenedor-palabra {
	background: rgba(0, 0, 0, 0.5);
	width: 60%;
	height: 20%;
	min-height: 100px;
	border-radius:  5px;
	border: solid 1px darkgrey;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.cuadrado-casilla {
	background: #ffffff;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	border: solid 1px darkgrey;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Gothica-bold';
	font-size: 1rem;
}

.teclado-letras {
	background: url('images/imagesGame/teclado.jpg');
	background-size: cover;
	background-position-y: 30%;
	width: 60%;
	height: 30%;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	border: solid 1px darkgrey;
	padding: 5px;
	margin: 10px;
}

.seccion-teclas {
	display: flex;
	gap: 15px;
	padding: 5px;
	justify-content: center;
}

.tecla-letra {
	width: 10%;
	height: 10%;
	max-width: 50px;
	min-height: 50px;
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000000;
	font-family: 'Gothica-bold';
	font-size: 2rem;
	border-radius: 5px;
	cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
	.main-content {
		display: flex;
		flex-direction: column-reverse;
		gap: 10px;
	}

	.contenedor-imagen-botones {
		width: 100%;
	}

	.start-game-image {
		width: 100%;
	}

	#texto-boton {
		width: 100%;
		display: flex;
		align-items: center;
	}

	p {
		font-size: 1rem;
		text-align: center;
	}

	.button {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1rem;
		width: 100%;
		height: 50px;
		font-family: 'Gothica-bold';
		border-radius: 10px;
	}

	.contenido-modal {
		width: 80%;
		height: 50%;
		max-height: 500px;
	}

	li {
		font-size: 1rem;
	}

	.footer {
		font-size: 1rem;
		font-family: 'Gothica-bold';
	}

	/*CONTENIDO JUEGO*/

	.seccion-juego {
		width: 100%;
		height: 100%;
		padding: 5px;
	}

	.score-vidas  {
		width: 100%;
		
	}

	#display-vidas {
		background: #000000;
		display: flex;
		align-items: center;
		gap: 5px;
		padding: 3px;
	}

	.intentos {
		font-family: 'Gothica-bold';
		color: #ffffff;
	}

	.intentos-img {
		width: 50%;
		background: cadetblue;
		display: flex;
		gap: 3px;
		border-radius: 5px;
		border: solid 1px darkgrey;
		padding: 3px;
	}

	.icon-vida {
		width: 10px;
		height: 10px;
	}	

	.display-muñeco {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.contenedor-muñeco {
		background: #000000;
		width: 100%;
		min-width: 50px;
		min-height: 100px;
		border: solid 1px darkgrey;
		border-radius: 3px;
	}

	.contenedor-palabra {
		width: 100%;
		height: 20%;
		min-height: 100px;
	}

	.cuadrado-casilla {
		width: 30px;
		height: 30px;
	}

	.teclado-letras {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

	.seccion-teclas {
		display: flex;
		gap: 5px;
		justify-content: center;
	}

	.tecla-letra {
		width: 10%;
		height: 10%;
		max-width: 30px;
		min-height: 20px;
		background: #ffffff;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #000000;
		font-family: 'Gothica-bold';
		font-size: 2rem;
		border-radius: 5px;
		cursor: pointer;
	}

	.contenido-modal-partida {
		display: flex;
		justify-content: left;
		width: 85%;
	}

}
